<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeChat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>        
        body {
  background: #aaa;
  background: -webkit-linear-gradient(right,#aaa, #000);
  background: -moz-linear-gradient(right, #aaa, #000);
  background: -o-linear-gradient(right, #aaa, #000);
  background: linear-gradient(to left, #aaa, #000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  color: white; }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:inherit;
} 

span{
    padding: 0%;
    margin: 0px;
}
    </style>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <div class="navbar">
        <span style="width:100px; height:100px; padding: 20px;"><a href="./"><img src="/res/logo.png"alt="not found logo" height="100%"></a></span>
        <span><a style="color: inherit; text-decoration: none;" href="./team" class="navv">Our Team</a></span>
        <span><a style="color: inherit; text-decoration: none;" href="./contact" class="navv">Contact Us</a></span>
        <span><a style="color: inherit; text-decoration: none;" href="./logout" class="navv">Log Out</a></span>        
    </div>    
    <div class="container">
        <h1 style="color:white;margin-top: 1rem;"">Welcome <%=currUser.name%> what's your mood?</h1>
        <div class="row">
    <div class="card-deck">
        <%inte.forEach(function(ini){%>
            <div class="col-md-3 col-sm-6" style="padding-top: 3rem;">
        <div class="card">
            <img src="<%=ini.imgurl%>" class="card-img-top" alt="...">
            <div class="card-body" style="color:black;padding:0px;border: none;">
                <p style="margin: 0%;text-align: center;"><b><%=(ini.name).toUpperCase()%></b></p>
                <a href="./chat/<%=ini._id%>" class="btn btn-primary"style="width:50%;border-bottom-right-radius: 0%;border-top-right-radius: 0%;color:white;float:left">CHAT</a>
              <a href="./news/<%=ini._id%>" class="btn btn-dark" style="width:50%;border-bottom-left-radius: 0%;border-top-left-radius: 0%;color:aqua">READ</a>
            </div>
          </div></div><%})%>

    </div>
</div><div style="padding: 15px; text-align: center;"><a  href="/addnew" class="btn btn-primary" style="margin: 2rem;">Can't find your intrest?<br>Add it here!</a></div>
</div>        
        
    
       
        
</body>
</html>